body {
    background-color: aqua;
    font-family: sans-serif
}

form {
    padding: 10px;
    text-align: center;
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;

}

input {
    background-color: white;
}
h1 {
    text-align: center;
}